$red: #e5383b;
$button: #0b090a;
$button-hover: #161a1d;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

.ext {
  width: 250px;
  font-size: 1.25rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 16px;
  background-color: $red;
  display: flex;
  flex-flow: column nowrap;
}

.getfact-button {
  border: none;
  padding: 0.75rem 2rem;

  color: #eb5e55;
  background-color: $button;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;

  cursor: pointer;

  &:hover {
    background-color: $button-hover;
  }
}
